$color-red: #ed5b56;

$color-yellow: #edb930;

$color-white: #ffffff;

$color-gray: #eee;

$color-blue: #5e3ed2;
$color-dark-blue: #321d6e;
$color-blue-2: #422b93;
$color-purple: #8672db;

$color-black: #000000;

$breakpoint-tablet: 1024px;
$breakpoint-hd: 1366px;
$breakpoint-hd-plus: 1440px;
$breakpoint-full-hd: 1919px;
